mixin postItem(post)
  if(post)
    .posts-item
      h2
        a(href= post.path ? url_for(post.path) : '') #{post.title}
      if post.image
        .image
      if post.date
        span.post__date #{date(post.date, date_format)}
      if post.tags && post.tags.data && post.tags.data.length > 0
        each tag in post.tags.data
          a(href=url_for(tag.path))
            span.post__tags #{`#${tag.name}`}
      if post.excerpt
        .posts-item__excerpt
          != post.excerpt
